<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8' />
<title>Mail To</title>
</head>
<body>
<h1>Mail To</h1>
<form method="post" action="/resume/create">
<table>
<tr>
<td><label for="email">Email</label></td>
<td><input type="email" name="email"></td>
</tr>
<tr>
<td><label for="text">Title</label></td>
<td><input type="text" name="title"></td>
</tr>
<tr>
<td><label for="texarea">Content</label></td>
<td><textarea type="textarea" name="content"></textarea></td>
</tr>
<tr>
<td><input type="submit" ></td>
</tr>
</table>
</form>
<a href="/resume">Back to Index</a>

</body>
</html>

