<!DOCTYPE html>
<html>
 <head>
<link type="text/css" rel="stylesheet" href="resume.css"/>
<title>Moses Okello CV</title> 
</head>
<body>
<div id="header">
<p id="name">Moses Oiro Okello</p>
         <a href="mailto:moses.oiro.okello@gmail.com" target="_blank"><p id="email">moses.oiro.okello@gmail.com</p></a>
     </div>
     <div class="left">
     </div>
     <div class="right">
            <h3>CV Highlights</h3>
            <p>
            <ul>
                <li>Currently going through Ruby on Rails Training Code9ty at LakeHub </li>
                <li>Learnt basic Ruby, Sinatra and other gems</li>
                <li>An independent, dedicated, efficient person. Support through team work and doing research</li>
                <li>Good Communication Skills, Presentation Skills, respect towards leadership, authorisation and delegation, conflict resolution and negotiation.
                </li>
                </ul>
            </p>
            <h3>Skills and Competencies</h3>
            <ul>
                <li>Data Entry Management</li>
                <li>Data Analysis - SPSS</li>
                <li>Programming by use of Visual Basic Programming 6.0, HTML, CSS, Java, PHP, Ruby on Rails</li>
                <li>Conducting ICT trainings</li>
                <li>Networking Essentials</li>
            </ul>
            <h3>Professional Background</h3>
            <ul>
                <li>
                <strong>Maseno University - City Campus</strong> - SPSS, CCNA Cisco Networking
                </li>
                <li>
                <strong>Kenya College of Accountancy University - Kisumu Campus</strong> - Higher Diploma in Management Information Systems BCS IMIS
                </li>
                
            </ul>
            </p>
            <h3>Educational Qualifications</h3>
            <table>
            <tr id="heading">
            <td>Qualification</td>
            <td>Board</td>
            <td>Percentage / Grades</td>
            <td>Year</td>
            </tr>
            <tr>
                <td>Networking</td>
                <td>CCNA Cisco</td>
                <td></td>
                <td>2015</td>
            </tr>
            <tr>
                <td>Higher Diploma</td>
                <td>BCS IMIS</td>
                <td></td>
                <td>2007</td>
            </tr>
            
            <tr>
                <td>KSCE</td>
                <td>KNEC</td>
                <td>B</td>
                <td>1994</td>
            </tr>
            
            
            </table>
            
                
                <h3>Work Experience:</h3>
                
                <ul>
                <h4>Duration: 25th February - 4th March 2013</h4>
                <h4>Employer: Interim Electoral and Boundaries Commission</h4>
                <h4>Title: Presiding Officer: Municipal Works Yard</h4>
                <h4>Duties: Tasks</h4>
                <li>
                Conducting training on the polling, counting and tallying process of clerks.
                </li>
                <li>
                Collection and ensuring security of all election materials for the referendum.
                </li>
                <li>
                Oversee efficient and effective management of election before, during and after the general election 2013.
                </li>
                <li>Ensure the good conduct of elections in the polling station.</li>
                <li>Counting, tallying and announcement of provisional results in the polling station.</li>
                </ul>
                <ul>
                
                <h4>Duration: 27 th July 2010 to 5 th August 2010</h4>
                <h4>Employer: Interim Independent Electoral Commission</h4>
                <h4>Title: Presiding Officer: Kisumu Town West Constituency: Rota Primary School</h4>
                <h4>Duties: Tasks</h4>
                <li>
                Conducting training on the polling, counting and tallying process of clerks.
                <li>
                Collection and ensuring security of all election materials for the referendum.
                </li>
                <li>
                Oversee efficient and effective management of election before, during and after referendum.
                </li>
                <li>Ensure the good conduct of elections in the polling station.</li>
                <li>Counting, tallying and announcement of provisional results in the polling station.
                </li>
                <li>Return all polling materials ( used and unused ) to the returning officer immediately after the referendum.
                </li>
                </ul>
                <ul>
                
                <h4>Duration: 7th June 2010 to 10th December 2010 </h4>
                <h4>Employer: Otieno Odongo & Partners: Head Office</h4>
                <h4>Title: Computer Aided Design operator</h4>
                <h4>Duties: Tasks</h4>
                
                
                
                <li>
                Nzoia irrigation project ( Marketing of produce report ).
                <li>
                Cartography: Digitizing maps / digital mapping.
                </li>
                
                </ul>

                <ul>
                
                <h4>Duration: March 2010 to May 2010 </h4>
                <h4>Employer: Interim Independent Electoral Commission</h4>
                <h4>Title: Head Registration Clerk: West Kajulu Ward</h4>
                <h4>Duties: Tasks</h4>
                
                
                
                <li>
                Distribution of voter registration materials.
                <li>
                Marking of duty roster roll.
                </li>
                <li>
                Coordinating clerks in polling stations and registration centers.
                </li>
                <li>
                Quality Assurance
                </li>
                <li>
                <li>
                Writing reports
                </li>
                
                </ul>

                <ul>
                
                <h4>Duration: August 2009 to February 2010</h4>
                <h4>Employer: Otieno Odongo & Partners: ( Chemususu Dam Project )</h4>
                <h4>Title: IT Support staff</h4>
                <h4>Duties: Tasks</h4>
                <li>
                Connecting and maintaining computer units.
                <li>
                Installing software.
                </li>
                <li>
                Receiving and sending electronic mail.
                </li>
                <li>Taking still digital photos.</li>
                
                </ul>
                <ul>

                
                
                <h4>Duration: March 1995 to September 1996</h4>
                <h4>Employer: Otieno Odongo & Partners ( Kiambere Water Supply Project )</h4>
                <h4>Title: Radio Call Operator</h4>
                <h4>Duties: Tasks</h4>
                <li>
                Coordinating mobile vehicle units attached to field.
                
                </li>
                </ul>
                
                
                <h3>REFEREES:</h3>
                
                <ul>
                1.
                <h4>NAME: Mr. Michael Ochieng</h4>
                <h4>ROLE: Information Technology Tutor</h4>
                <h4>ORGANIZATION: Maseno University Information Technology & Enterprise Centre</h4>
                <h4>ADDRESS: P. O. Box 3275 40100 Kisumu</h4>
                <h4>EMAIL: ochieng@maseno.ac.ke</h4>
                <h4>TELEPHONE: Tel. 254722101761</h4>
                </ul>

                <ul>
                2.
                <h4>NAME: Mrs. Jacqueline Osiemo</h4>
                <h4>ROLE: Constituency Elections Coordinator</h4>
                <h4>ORGANIZATION: Interim Independent Electoral Commission</h4>
                <h4>ADDRESS: Kisumu Town East Constituency</h4>
                <h4>TELEPHONE: Tel. 254729934824</h4>
                </ul>

                <ul>
                3.
                <h4>NAME: Mr. Patrick Oduk</h4>
                <h4>ROLE: Senior Lab Technician</h4>
                <h4>ORGANIZATION: Otieno Odongo & Partners</h4>
                <h4>ADDRESS: P. O. Box 54021 00200 Nairobi</h4>
                <h4>TELEPHONE: Tel. 2547219477656</h4>
                </ul>

                <ul>


                
                <h3>Declaration</h3>
                <p>
                I hereby declare that the details furnished above are true and correct to the best of my knowledge and belief.
                </p>
                </div>
                <div id="footer"></div>
                </body>
</html>
